*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* TOP NAV */

.header-top-container{
    max-width: auto;
    padding: 1px 0 5px 0;
    background: #484848;


    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-top-container-start{
    margin-left: 50px;
}

.header-top-container-end{
    margin-right: 50px;
}

.header-top-container-start ul, .header-top-container-end ul{
    padding: 5px;
    display: flex;
    flex: 1 0 182px;
    flex-wrap: wrap;
}

.header-top-container-start ul a, .header-top-container-end ul a{

    color: white;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;

}

/* TOP NAV - RESPONSIVO */

@media only screen and (max-width : 1024px){
    .header-top-container{
        justify-content: space-between;
        font-size: .90em;
    }

    .header-top-container-start{
        margin-left: 50px;
    }

    .header-top-container-end{
        margin-right: 50px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 877px){
    .header-top-container{
        justify-content: space-between;
        font-size: .90em;
    }

    .header-top-container-start{
        margin-left: 30px;
    }

    .header-top-container-end{
        margin-right: 30px;
    }

}

/* MENU */

.header-navigation-container{
    max-width: auto;
    background-color: #0077FF;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.navigationbar-logo{
    width: 200px;
    margin-left: 50px;
    
}

.navigation-container{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.navigation-container ul{
    display: flex;
    padding: 10px;
    flex: 1 0 182px;
    flex-wrap: wrap;
    align-items: center;

}

.navigation-container ul a{
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.icon{
    display: none;
}

/* MENU - RESPONSIVO */

input[type="checkbox"]{
    display: none;
}

.check-btn{
    font-size: 2em;
    color: white;
    cursor: pointer;
    display: none;
}


@media only screen and (max-width : 1024px){
    .header-navigation-container{
        justify-content: space-between;
        font-size: .85em;
    }
    .navigationbar-logo{
        margin-left: 50px;
    }
    .navigation-container{
        margin-right: 50px;;
    }
}

@media only screen and (min-width: 800px) and (max-width: 877px){
    .navigationbar-logo{
        margin-left: 30px;
        width: 160px;
    }
    .navigation-container{
        margin-right: 30px;
        font-size: 1em;
    }

}

@media only screen and (min-width: 320px) and (max-width: 799px){
    .header-top-container{
        display: none;
        transition: all .5s;
    }
    .navigationbar-logo{
        width: 150px;
        display: block;
    }


    .check-btn{
        display: block;
    }
    .navigation-container ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #484848;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    .navigation-container ul li:first-child{
        margin-top: 50px;
    }
    .navigation-container ul li a{
        font-size: 1em;
    }
    .navigation-container ul li{
        display: block;
        margin-bottom: 50px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
